html, body, p{
	background-color: #edeff2;
}

.container{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*footer*/
p.footer{
    background-color: #a6cfb1;
    margin-top:0px;
    margin-bottom:0px;
}

div.footer{
    margin-top: 0px;
    margin-bottom:0px;
    font-size:8pt;
}

/* barre de navigation */
.navbar-custom{
 	background-color: #a6cfb1;
}

.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text, 
.nav-link { 
    color: #4b4646; 
} 

.navbar-brand{
	font-weight: bolder;
	font-size: 24px;
}

.navbar-img{
	width: 100px;
	margin-left: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 25px;
}

/* la carte */
#map {
    height: 85%;
    width: 98%;
    font-family: 'Open Sans', sans-serif;
}

#texte h1 {
    color: #CA1712;
    width: 98%;
    text-align: center;
    font-size: 10pt;
    font-family: 'Open Sans', sans-serif;
}

#texte p {
    color: black;
    width: 98%;
    text-align: center;
    font-size: 10pt;
    font-family: 'Open Sans', sans-serif;
}

.infoHeader {
    color: #CA1712;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    text-align: center;
    font-weight: bold;
}

.infoPar {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 8pt;
}

.infoInventaire {
    text-align: center;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

#inv {
    font-weight: bold;
    color: #CA1712;
}

/* les graphiques */