{% extends "container.html" %}

{% block titre %}
Cartographie
{% endblock %}


{% block corps %}
<script type="application/javascript">
    $(document).ready(function() {
            // Création de la carte à l'id "map"
            var map = L.map('carte', {
        zoomControl: false,
        attribution: false
    }).setView(new L.LatLng(48.8542, 2.3484), 12);

            // Usage des tuiles de carte d'OpenStreetMap puis ajout à la carte map
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '<a href="openstreetmap.org">OpenStreetMap</a> | <a href="www.paris-historique.org">Association Paris Historique</a> | Maxime Challon', maxNativeZoom: 100
            }).addTo(map);

            $.ajax("{{url_for ('static', filename='data/inventaire_complet.json')}}").done(function(data, x, z) {

                var leafletView = new PruneClusterForLeaflet();
                var markers = []

                for(var inv in data.data) {
                    var photo = data.data[inv],
                    lat = photo.Latitude_x,
                    long = photo.Longitude_y,
                    marker = new PruneCluster.Marker(lat, long);
                    marker.data.icon = L.icon({ iconUrl: "{{url_for('static', filename='img/rouge.png')}}", iconSize: [17, 21] });
                    marker.data.popup  = '<h1 class="infoHeader">' + photo.Nom_site + '</h1><h2 class="infoInventaire">Numéro d\'inventaire : <b>' + '<b id="inv">' + photo.N_inventaire + '</b>' + ' </b></h2><p class="infoPar"> ' + photo.N_rue + ' ' + photo.Rue + ', ' + photo.Ville + ' ' + photo.Arrondissement + ' </p><p class="infoPar">Photographie de ' + photo.Photographe + ' le/en ' + photo.Date_prise_vue + '</p><p class="infoPar">Description matérielle: ' + photo.Support + ', ' + photo.Couleur + ', ' + photo.Taille + '</p><p class="infoPar">Principaux sujets de la photographie : ' + photo.Mot_cle1 + ' ' + photo.Mot_cle2 + ' ' + photo.Mot_cle3 + ' ' + photo.Mot_cle4 + ' ' + photo.Mot_cle5 + ' ' + photo.Mot_cle6 + ' ' + '</p><p class="infoPar">Cote dans la base de la photothèque: ' + photo.Cote_base + '</p>'+ '</p><p class="infoPar">Cote dans la photothèque: ' + photo.Cote_classement + '</p>';

                    markers.push(marker);
                    leafletView.RegisterMarker(marker);
                };

                map.addLayer(leafletView);
            });});
        </script>

<div id='carte'>
</div>
{% endblock %}