{% extends "container.html" %}

{% block titre %}
Catalogue
{% endblock %}


{% block corps %}

<div class="container">
    <div class="row">
        <form method="post" novalidate name="form1">
            {{ form.hidden_tag() }}
            <div class="btn-group">
                <input type="text" class="form-control" id="Rue" name="Rue" placeholder="Rue" style="width:150px">
                <div class="dropdown" style="margin-left:5px;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Arrondissements
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {{form.Arrondissement}}
                    </div>
                </div>
            </div>
            {{ form.submit }}
        </form>
    </div>
</div>
{% endblock %}