{% extends "container.html" %}

{% block titre %}
Cotes
{% endblock %}

{% block corps %}
<p>Veuillez indiquer les numéros d'inventaire de fin et de début pour chaque cote. </p>
<form method="post" class="form" action="{{url_for('cotes')}}">
    <div class="form-group row">
    <label for="num_debut" class="col-sm-2 col-form-label">Numéro de début</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="num_debut" name="num_debut" placeholder="Numéro d'inventaire de début">
    </div>
  </div>
    <div class="form-group row">
    <label for="num_fin" class="col-sm-2 col-form-label">Numéro de fin</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="num_fin" name="num_fin" placeholder="Numéro d'inventaire de fin">
    </div>
    </div>
    <div class="form-group row">
        <label for="cote" class="col-sm-2 col-form-label">Cote</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="cote" name="cote" placeholder="Cote">
        </div>
        </div>
    <div class="form-group row">
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </div>
</form>

<p>Dernier numéro attribué: <span style="font-size: 16pt; font-weight: bold;">{{last[0][0]}}</span></p>
{% endblock %}