{% extends "container.html" %}

{% block titre %}
Cataloguer
{% endblock %}

{%block js%}
<script type="text/javascript" src="{{url_for('static', filename='js/carte_cataloguer.js')}}"></script>
{%endblock%}

{% block corps %}
<div class="container">
    <div class="row">
        <p>Vous pouvez modifier ici les informations déjà remplies. <span style="color:red">En cas de duplication de notice, veuillez bien vérifier le numéro d'inventaire avec celui de la nouvelle photographie.</span></p>
    </div>
    <div class="row">
        <form method="post" novalidate name="form1">
            {{ form.hidden_tag() }}
            <h1 style="font-size:16pt;color:#da1916;">Informations générales sur la photographie</h1>
            <div class="row">
                <div class="col-4">
                    <p>Numéro d'inventaire (requis)<br>
                        {{ form.N_inventaire }}</p>
                </div>
                <div class="col-6">
                    <p>Cote dans la base des numérisations<br>
                        {{ form.Cote_base }}</p>
                </div>
            </div>
            <h1 style="font-size:16pt;color:#da1916;">Informations concernant l'adresse</h1>
            <p  style="font-size:8pt;">En cas de doute, ne rien mettre.</p>
            <div class="row">
                <div class="col-8">
                    <p>Nom de la rue<br>
                        {{form.Rue}}</p>
                </div>
                <div class="col-4">
                    <p>Numéro dans la rue <br>
                        {{form.N_rue(size=5)}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Nom du site<br>
                        {{form.Nom_site}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Arrondissement (2 chiffres. Ex: 02)<br>
                        {{form.Arrondissement(size=5, maxlenth=2)}}</p>
                </div>
                <div class="col-4">
                    <p>Ville <br>
                        {{form.Ville}}</p>
                </div>
                <div class="col-4">
                    <p>Département (code à 2 chiffres)<br>
                        {{form.Departement(size=5, maxlength=2)}}</p>
                </div>
            </div>
            <div class="row">
                <p style="font-size:8pt;">Il n'est pas obligatoire d'indiquer la localisation GPS. Si vous souhaitez l'indiquer, cliquez sur l'adresse, les champs se rempliront automatiquement.</p>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Latitude (clic sur la carte)<br>
                        {{form.Latitude_x}}</p>
                </div>
                <div class="col-6">
                    <p>Longitude (clic sur la carte)<br>
                        {{form.Longitude_y}}</p>
                </div>
            </div>
            <div class="row">
                <div id="map" style="height:500px;">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Autre adresse (texte libre) <br>
                        {{form.Autre_adresse(size=100)}}</p>
                </div>
            </div>
            <h1 style="font-size:16pt;color:#da1916;">Caractéristiques physiques et morales</h1>
            <div class="row">
                <div class="col-4">
                    <p>Support <br>
                        {{form.Support}}</p>
                </div>
                <div class="col-4">
                    <p>Couleur <br>
                        {{form.Couleur}}</p>
                </div>
                <div class="col-4">
                    <p>Taille (HAUTEURxLARGEURcm) <br>
                        {{form.Taille(size=7)}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Date de prise de vue (AAAA/MM/JJ)<br>
                        {{form.Date_prise_vue}}</p>
                </div>
                <div class="col-4">
                    <p>Photographe<br>
                        {{form.Photographe}}</p>
                </div>
                <div class="col-4">
                    <p>Droits<br>
                        {{form.Droits}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Mention de don<br>
                        {{form.Mention_don}}</p>
                </div>
                <div class="col-6">
                    <p>Mention de collection<br>
                        {{form.Mention_collection}}</p>
                </div>
            </div>
            <h1 style="font-size:16pt;color:#da1916;">Description du sujet</h1>
            <div class="row">
                <div class="col-4">
                    <p>Date de construction<br>
                        {{form.Date_construction}}</p>
                </div>
                <div class="col-4">
                    <p>Architecte<br>
                        {{form.Architecte}}</p>
                </div>
                <div class="col-4">
                    <p>Généralité d'architecture (obligatoire)<br>
                        {{form.Generalite_architecture}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>Classement MH <br>
                        {{form.Classement_MH}}</p>
                </div>
                <div class="col-3" id="N_inventaire_lie2" style="display: none;">
                    <!-- mettre display inline pour afficher ce champ, none pour le retirer-->
                    <p>Numéro d'inventaire lié (obligatoire)<br>
                        {{form.N_inventaire_lie}}</p>
                </div>
                <div class="col-6">
                    <p>Légende <br>
                        {{form.Legende(size=50)}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Mots-clés (maximum 6)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>{{form.Mot_cle1}}</p>
                </div>
                <div class="col-4">
                    <p>{{form.Mot_cle2}}</p>
                </div>
                <div class="col-4">
                    <p>{{form.Mot_cle3}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>{{form.Mot_cle4}}</p>
                </div>
                <div class="col-4">
                    <p>{{form.Mot_cle5}}</p>
                </div>
                <div class="col-4">
                    <p>{{form.Mot_cle6}}</p>
                </div>
            </div>
            <h1 style="font-size:16pt;color:#da1916;">Divers</h1>
            <div class="row">
                <div class="col-12">
                    <p>Note libre<br>
                        {{form.Notes}}</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <p>Dupliquer après l'enregistrement ?   {{form.Dupliquer}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="color:red;font_weight:bold;">
                    <p>Supprimer cet enregistrement ?   {{form.Delete}}</p>
                </div>
            </div>
            {{ form.submit }}
        </form>
    </div>
</div>


<script>
    $( "#Photographe" )
        .change(function () {
        var photographe = "";
        $( "#Photographe option:selected" ).each(function() {
            photographe += $( this ).text() + "";
        });
    
        // préremplissage des droits
        if(photographe === 'PONTY, PIERRE'){
            $('#Droits').val("PHOTOGRAPHE");
        }
        else{$('#Droits').val("PH");};
    
        // préremplissage des dons
        if(photographe !== 'INCONNU'){
            $('#Mention_don').val(photographe);
        }
        else{$('#Mention_don').val("INCONNU");};
    });
    
    
        $("#Mention_collection")
        .change(function () {
    
    
        if( $(this).val()==="PLAN PERSPECTIF 1964"){
            $("#N_inventaire_lie2").show()
            }
            else{
            $("#N_inventaire_lie2").hide()
            };
    
    
        var collection = "";
        $( "#Mention_collection option:selected" ).each(function() {
            collection += $( this ).text() + "";
        });
    
        if(collection === 'PLAN PERSPECTIF 1964'){
            $('#Droits').val("PH");
            $('#Mention_don').val("PARIS-HISTORIQUE, ASSOCIATION");
            $('#Photographe').val("PARIS-HISTORIQUE, ASSOCIATION");
            $('#Date_prise_vue').val("1964");
            $('#Taille').val("6x6cm");
        }
        else{
            $('#Droits').val("");
            $('#Mention_don').val("");
            $('#Photographe').val("");
            $('#Date_prise_vue').val("");
            $('#Taille').val("");
        };
            
        
    })
    </script>
{% endblock %}