{% extends "container.html" %}

{% block titre %}
Mes enregistrements récents
{% endblock %}

{% block corps %}
<div class="container">
    <form class="form-group" id="formulaire" method="get" action="{{ url_for ('enregistrements_recents')}}">
        <input type="text" name="_Arrondissement" id="_Arrondissement" placeholder="Arrondissement" size="7px;">
        <input type="text" name="_Site" id="_Site" placeholder="Site" size="10px;">
        <input type="text" name="_Mot" id="_Mot" placeholder="Mot clé" size="10px;">
        <input type="text" name="_Photographe" id="_Photographe" placeholder="Photographe" size="10px;">
        <input type="text" name="_Date" id="_Date" placeholder="Date" size="7px;">
        <input type="submit" value="Filtrer" id="submit" class="btn-primary btn">
</form>
    {%for photo in photos%}
    <div class="row">
        <div class="col-12">
            <h1 style="font-size:14pt;color:#da1916;">{{photo.N_inventaire}} {{photo.Nom_site}}
                <a href="{{ url_for('editer_photographie',nom_user=current_user.nom, id_photo=photo.N_inventaire_index) }}" style="margin-left:5px;">
                    <span id="edit" class="fas fa-edit"></span>
                </a>

                <a href="{{ url_for('dupliquer_photographie', id_photo=photo.N_inventaire_index) }}" style="margin-left:5px;">
                    <span class="fas fa-copy"></span>
                </a>

                <a href="{{ url_for('supprimer_photographie', id_photo=photo.N_inventaire_index) }}" style="margin-left:5px;">
                    <span class="fas fa-trash"></span>
                </a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>Adresse: {{photo.N_rue}} {{photo.Rue}}, {{photo.Ville}} ({{photo.Departement}})</li>
                    <li>Caractéristiques physiques: {{photo.Support}}, {{photo.Couleur}}, {{photo.Taille}} (prise le {{photo.Date_prise_vue}})</li>
                    <li>Sujet: {{photo.Generalite_architecture}}</li>
                    <li>Légende: {{photo.Legende}}</li>
                    <li>Mots clés: {{photo.Mot_cle1}},{{photo.Mot_cle2}},{{photo.Mot_cle3}},{{photo.Mot_cle4}},{{photo.Mot_cle5}},{{photo.Mot_cle6}},</li>
                    <li>Notes: {{photo.Notes}}</li>
                </ul>
            </div>
        </div>
        {%endfor%}
    </div>
    {% endblock %}