{% extends "container.html" %}

{% block titre %}
Mon profil
{% endblock %}


{% block js %}
<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.16.0/build/vega-tooltip.min.js"></script>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
{%endblock%}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vega-tooltip@0.16.0/vega-tooltip.scss">
{% endblock %}

{% block corps %}


<script type="text/javascript">
    var visuel = 'bar';
    var dates = 'general_au_jour';
      function parse(url, div) {
        var opt = {
          mode: "vega-lite",
          renderer: "svg",
          actions: {export: true, source: false, editor: false}
        };

        vegaEmbed("#"+div, url, opt, function(error, result) {
          // result.view is the Vega View, url is the original Vega-Lite specification
          vegaTooltip.vegaLite(result.view, url);
        });
      }

      parse("{{url_for('user_rythme_catalogage')}}", "line");
   
    </script>

<div class="container">
    <div class="row">
        <h1 style="font-size:16pt;color:#da1916;">Mon profil</h1>
    </div>
    <div class="row">
        <div class="col-sm-5">
        <form method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>Prénom {{ form.Prenom }}</p>
            <p>Nom {{ form.Nom }}</p>
            <p>Adresse e-mail {{ form.Mail }}</p>
            {{ form.submit }}
        </form>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <p>Mes chiffres
            <ul>
            <li>{{ compteur_photos_ok }} photographies inventoriées</li>
            <li>{{ compteur_photos_attente }} photographies en attente d'entrée dans l'inventaire</li>
        </ul></p>
        </div>
    </div>
    <div>
        <p>Pour changer le mot de passe, <a href="{{url_for('forgot_password')}}">cliquer ici</a></p>
    </div>




    <div class="row" style="text-align: center;">
        <div  class="col-sm-3"></div>
        <div id="chart_mots_cles" class="col-sm-6"></div>
        <div  class="col-sm-3"></div>
    </div><div class="row" style="text-align: center;">
        <div  class="col-sm-2"></div>
        <div class="charts text-center col-sm-6" width="400px">
            <div class="row"><div id="line"></div></div><hr>
            <div id="vis-tooltip" class="vg-tooltip"></div>
        </div>
        <div  class="col-sm-3"></div>
    </div>
</div>



<script>
    var element =  document.getElementById('chart_mots_cles');
if (typeof(element) != 'undefined' && element != null)
{
    var data = [{
  values: {{liste_mots_cles[1]}},
  labels: {{liste_mots_cles[0] | safe}},
  type: 'pie'
}];

var layout = {
  height: 500,
  width: 600,
  title:{text:'Mes mots-clés les plus utilisés',font: {
      family: 'Courier New, monospace',
      size: 24
    },
    xref: 'paper',
    x: 0.05,}
};

Plotly.newPlot(element, data, layout);
  // Exists.
}
else{console.log("non");}
</script>
{% endblock %}